<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::head">

</head>
<body>

<nav th:replace="template::header"></nav>

<div class="container">
    <div class="hero-unit">
        <h1>Добрий день!</h1>
        <p>
            Welcome to the Spring MVC Quickstart application!
            Get started quickly by signing up.
        </p>
        <p>
            <a href="/login" th:href="@{/hello}" class="btn btn-large btn-success">Увійти</a>
        </p>
    </div>
    <div><a href="https://github.com/maloyau">&copy; 2017 Serhii Herashchenko</a></div>
</div>

</body>
</html>