<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <title>Судові справи</title>
</head>
<body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Судові справи</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Головна</a></li>
            <li><a href="/admin">Мій кабінет</a></li>
            <li><a href="/hello">Всі судові справи</a></li>
        </ul>
        <div th:if="${#httpServletRequest.remoteUser}">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:inline="text"><span class="glyphicon glyphicon-user"></span>
                    [[${#httpServletRequest.remoteUser}]]</a></li>
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Вихід</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" align="center">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div id="logo-container"><h3>Введіть логін та пароль</h3></div>
            <br/>
            <div class="col-sm-12 col-md-4 col-md-offset-4">
                <form th:action="@{/login}" method="post" id="loginForm">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" type="text" name='username' placeholder="логін" form="loginForm"/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control" type="password" name='password' placeholder="пароль" form="loginForm"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-def btn-block" form="loginForm">Увійти</button>
                    </div>
                    <div class="form-group text-center">
                        <a href="#">Забули пароль? </a>&nbsp;|&nbsp;<a href="#">Підтримка</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${param.error}" class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="alert alert-danger" role="alert">Помилковий логін користувача або пароль.</div>
    </div>
    <div th:if="${param.logout}" class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="alert alert-info" role="alert">Ви вийшли із сеансу.</div>
    </div>
</div>
</body>
</html>